.custom-container {
  margin-top: 0px;
  position: relative;
}
img.poster {
}

.back {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  margin-top: 0;
}
/* Centered text */
.centered {
  text-align: center;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}
.flex-item {
  align-self: baseline;
  flex-grow: 2;
  h5 {
    text-align: right;
  }
}

// .f-con {
//   display:flex;
// }

.f-it {
  flex-basis: 400px;
  flex-grow: 1;
  display: flex;
}
